<div class="rewards">
  <div class='back-this new-pledge' data-reward=<%=reward.id %>>
    <div class="back-it " >
      <% if current_user %>
        <p>Back this Project!</p>
      <% else %>
        <p>Login to Back this Project!</p>
      <% end %>
    </div>
  </div>
    <div class="rewards-info" >
      <h3><%= reward.name %> </h3>
      <h3>
        $<%= number_with_delimiter(reward.amount, delimiter: ',') %>
      </h3>
      <p>
        <%= reward.description %>
      </p>
    </div>
</div>
