<div class="rewards">
  <h2><%= reward.name %> </h2>
  <p>
    <%= reward.description %>
  </p>
  <p>
    $<%= number_with_delimiter(reward.amount, delimiter: ',') %>
  </p>

  <%= link_to "I WANT TO BACK IT!!!!", reward_pledges_path(reward), method: :post, class: "new-pledge" %>
</div>
