<div id="project-total-money">
  <h2>$<%= number_with_delimiter(proj.total_moneh, delimiter: ',') %></h2>
  <p>pledged of $<%= number_with_delimiter(proj.funding_goal, delimiter: ',') %> goal!</p>
</div>
