  <% content_for :navbar do %>
     <%= render 'navbar_homepage' %>
  <% end %>

  <div class="splash-image">
    <div class="row instruct">
      <div class="large-4 large-offset-7 columns">
        <h2>Create or Support A Project <br> Gain Rewards</h2>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="text-center featured">
      <h1>Featured Projects</h1>
    </div>
    <div class="">
      <%= render @projects %>
    </div>
  </div>


<script type="text/javascript">
  function display_search_results() {
    if (this.readyState === 4) {
      console.log(this);
      document.getElementById('projects').innerHTML = this.responseText;
    }
  }

  var form = document.getElementById('search-form');
  form.addEventListener('submit', function(ev) {
    ev.preventDefault();
    var searchValue = document.getElementById('search').value;

    var xhr = new XMLHttpRequest();
    xhr.onload = display_search_results;
    xhr.open('GET', '/projects?search=' + searchValue, true);
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.send();
  });
</script>
