// Place all the styles related to the rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#rew_amount {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.rewards {
  -webkit-box-shadow: 0px 6px 2px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 2px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 2px -5px rgba(0,0,0,0.75);
  background-color: rgba(248, 249, 253, 1);
  margin: 10px 0px;
  overflow: hidden;
  position: relative;

}

.rewards-info{
  padding: 10px;
}

.back-this{
  position: absolute;
  display: none;
  background-color: #0aee0a;
  opacity: .9;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.back-it{
  color: white;
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
}
